 * {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
header {

    background-image: url(./imgnike/header_bg_image\ 1\ \(2\).jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
header nav {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a {
    color: #CB0A15;
    font-family: Arial;
    font-size: 20px;
       font-weight: 700;
   
}

header ul li {
    display: inline-block;

}

header ul li a:hover {
    background-color: #515151;
    color: white;
}

header ul li a {
    color: #515151;
    padding: 10px;
    display: block;
    font-family: Arial;
    font-size: 18px;

    font-weight: 700;

}

header h1 {
    text-align: center;
    color: #CB0A15;
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
    margin-top: 215px;
}

header p {
    color: #000;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    font-weight: 500;

}

.main-img {
    width: 540px;
    height: 400px;
    

}

.main-01 {
    width: 1030px;
    height: 900px;
    margin: auto;
    display: flex;
    margin-top: 80px;
}

.img-tiny {
    width: 160px;
    height: 160px;

}

.main-tiny {
    display: flex;
    padding-left: 15px;

}

.h2 {
    padding: 10px;
}

.p {
    margin-left: 10px;
}

.img-bigger {
    width: 160px;
    height: 160px;
    display: flex;

    margin-top: 15px;
}

.main-h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    width: 1300px;
    height: 250px;

    margin: auto;

}

.footer {
    display: flex;
    justify-content: space-evenly;

}

.footer-2 {
    color: red;
}

.footer-1a {
    color: #A5A5A5;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
}

.footer_h2 {
    margin-top: 35px;
    margin-bottom: 10px;
}
